.card {
    width: 10rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: var(--boxShadow);
    padding: 0px 26px 2rem 26px;
}

.card span:nth-of-type(2){
    color: var(--gray);
    font-size: 16px;
}
.card > img {
    transform: scale(0.6);
    margin-bottom: -2rem;
}


@media screen and (max-width: 700px ){
    .card{
        margin: auto;
    }
    .card > * {
        box-shadow: none;
    }
}