.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 4rem;
}

.contact-form span {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid rgb(164, 164, 255);
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 4rem!important;
}


@media screen and (max-width: 700px ){
    .contact-form {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .contact-form span{
        font-size: 1.5rem;
    }
    .c-right .user {
        width: 15rem;
        font-size: 12px;
    }
}