.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    height: 8rem;
    margin-top: 10rem;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: -2rem;
    gap: 4rem;
    color: black;
}

.ressources {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 4rem;
}
.copy {
    position: absolute;
    left: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-icons {
    display: flex;
    gap: 2rem;
}
@media  screen and (max-width: 1500px) {
    .copy {
        position: absolute;
        left: 5rem;
    }
}
@media screen and (max-width: 700px ){
   
    .f-content {
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .footer img {
        height: 40rem;
    }
    .f-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 5rem;
        gap: .5rem;
        margin-top: -12rem;
    }

    .f-content span {
        position: relative;
        top: -18rem;
    }
    .ressources {
        left: 5rem;
        top: -5rem;
    }
 
}
