.intro {
    margin-top: 2rem;
    display: flex;
    height: 100vh;
    margin-bottom: 5rem;
    margin: 2rem 0 1rem 2rem;
}

.i-left {
    width: 50%;
}


.i-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.i-name > :nth-child(1){
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.i-name > :nth-child(2){
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}


.title {
    color: black;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-top: 1rem;
}


.i-profil img{
    width: 50%;
    border-radius: 50%;
}

.i-right emoji {
    width: 5px;

}

.i-right {
    width: 40%;
    height: 75%;
    background: rgba(208, 218, 245, 0.26);
    border-radius: 20px;
    border: 7px solid rgb(164, 164, 255);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}
@media screen and (max-width: 1500px) {
    
    
    
}

@media screen and (max-width: 700px) {
    .intro {
        display: flex;
        flex-direction: column;
        height: 250vh;
        width: 90%;
        margin: auto;
        margin-bottom: 10rem;
        margin-top: 2rem;
    }
    .i-left {
        width: 100%;
    }
    .i-name > :nth-child(1){
        font-size: 2rem;
    }
    
    .i-name > :nth-child(2){
        font-size: 1.5rem;
    }
    .i-profil {
        margin-left: 10%;
        margin-right: 10%;
    }
    .i-profil img{
        width: 100%;
        margin: auto;
        border-radius: 50%;
    }

    .title {
        text-align: center;
        width: 100%;
        margin-left: 1%;
        margin-bottom: 1rem;
    }

    .i-right {
        width: 90%;
        margin: auto;
        border: none;
        background: none;
    }
    .i-right >* {
        margin: auto;
        border-radius: 25px;
        border: 7px solid rgb(164, 164, 255);
    }
    
 
}