.n-wrapper {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    box-shadow:  15px 5px 5px rgb(164, 164, 255);
}
.n-name {
    position: absolute;
    left: 3rem;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    color: black;
}
.n-nav ul{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    margin-right: 2rem;
}

.menu_button{
    display: none;
}
.nav-close {
    display: none;
}

@media screen and (max-width: 700px) {
    .n-name {
        left: 3rem;
        top: .5rem;
    }
    .n-nav{
        position: fixed;
        top: 3.7rem;
        right: 0;
        width: 30%;
        display: flex;
        height: 40%;
        align-items: center;
        justify-content: center;
        background-color: rgb(164, 164, 255);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .n-nav ul {
        display: flex;
        flex-direction: column;
    }
    .n-nav li {
        
        font-size: 15px;
    }
    .responsive_nav {
        transform: none;
    }

    .menu_button{
        display: block;
        margin-right: 1rem;
        margin-top: .5rem;
        border: 1px solid rgb(164, 164, 255);
        border-radius: 50%;
        background: none;
        color: rgb(164, 164, 255);

    }
    .n-wrapper {
        margin-bottom: 1rem;
    }

    .nav-close {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background: none;
        border: none;
    }
}