.p-link ul{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    list-style-type: none;
}

.p-link button {
    border: none;
    padding: .5rem;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(164, 164, 255);
}

.p-link button:hover {
    background-color: white;
    border: 1px solid rgb(164, 164, 255);
}

@media screen and (max-width: 1500px) {
    .p-link button {
        font-size: 50%;

    }
}

@media screen and (max-width: 700px) {
    .p-link {
        width: 90%;
        margin: auto;
    } 

    .p-link ul{
        gap: .5rem;
        width: 120%;
        margin-left: -3.5rem;
    }

    
}