.n-projects {
    width: 50%;
    margin: 0 auto;
    height: 100vh;
}

.i-title {
    color: blue;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .n-projects {
        width: 90%;
        height: 80vh;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}