:root {
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  overflow: hidden;
  color: var(--black);
}

.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background:  rgb(164, 164, 255);
}

.button:hover{
  background: white;
  cursor: pointer;
  color:  rgb(164, 164, 255);
  border: 1px solid  rgb(164, 164, 255);
}

@media screen and (max-width: 1500px){
  .App{
    max-width: 1200px;
    padding: 0rem 0rem;
  }
}

@media screen and (max-width: 700px){
  .App{
    max-width: 800px;
    padding: 0rem 0rem;
  }
}